body {
  background: url(/cloudy-day.png);
  padding: 4rem 0 4rem 0 !important;
}

.fancy {
  text-transform: uppercase !important;
  letter-spacing: 0.33rem !important;
}

.question {
  padding: 2rem 0 2rem 0 !important;
  font-size: 1.2rem;
}